/*---------------

GENERAL 

------------------*/

* {
  box-sizing: border-box;
}
h1,h2{
    font-family: 'Great Vibes', cursive;
}
h2{
  font-size:3rem;
  margin:1.4rem; 
}
h3{
  font-size:1.5rem;
}
h1,h2,h3,
ol,ul,
p,
img {
    margin-bottom: 1.5rem;
}
.locations,
.program,
.gifts,
.faq,
.contact {
  width: 95%;
  margin: 1.4rem auto;
  padding: .5rem 1rem;
  text-align: center;
}
a{
  color:#bd806e;
  text-decoration: none;
}
a:hover{
  color:#eda087;
  transition: color .15s ease-in-out;

}
body {
  background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-background.png') repeat center;
  font-family: 'Libre Baskerville', serif;
  font-size: 1.125rem;
  line-height: 1.5;
  color: #444349;  
  position:relative;
  text-align:center;
}

/*----------------

      HEADER

---------------*/

.header{
  display: table;
  width:100%;;
  height: 100vh;
  background-image: url(assets/wedding-landing-cover.jpg);
  background-position:70%;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

  
}
.wrapper{
  display: table-cell;
  vertical-align: middle;
}
.keret{
  color:hsla(0,0%,100%,.9);
  background:hsla(100,0%,0%,0.5);
  padding: .625rem;
  margin: 0 auto;
  
}
.title, .date{
  font-size:1.25rem;
  font-family: 'Libre Baskerville', serif;
  letter-spacing:0.15rem;
  margin:0;
}

.name{
  font-size: 3.15rem;
  color: #d2ba87;
  margin:0;
}
.title::after{
   display: block;
  content: "";
  background-color: #fff;
  height: 1px;
  width: 12.56rem;
  margin: .5rem auto;
}
.date::before, .date::after{
  display:inline-block;
  vertical-align: middle;
  content:"";
  width:1.5rem;
  height:0.0561rem;
  background-color:white;
}
/*-------------

MEDIA 786px

--------*/
@media(min-width:786px){
  .keret{
    width:50%;
    padding:1.3rem;
    border-radius:4px;
  }
  .title{
text-transform: uppercase;  }

  .name{
    font-size:7rem;
  }
}

/*-------------

LOCATIONS

----------*/


.locations p{
  font-family: 'Muli', sans-serif;
}


.lochead{
  font-weight:700;
  font-size:1.5rem;
}

.locpic{
  height: 7.5rem;
}
.event::after{
  display:block;
  content: "";
  width:25vw;
  margin:1.5rem auto;
  height:0.188rem;
  background-color: #444349;
}
/*-------------

MEDIA 786px

--------*/
@media(min-width:786px){
  .event::after{
    display: none;
  }
  .event{
    display:inline-block;
    width:30%;
    padding: 1.3rem;
    margin: 0.5rem;
  }
  
}
/*-------------

PROGRAM

-------------*/

.progback{
  background: hsla(100,0%,0%,.6);
  text-align: left;
  color: #d2ba87;
  font-family: 'Muli', sans-serif;
  width:100%;
}
#prog{
  text-align: center;
  
}
.program{
  margin-bottom:0;
  
}
.program h2 {
  margin-top: 1rem;
}
.program p{
  font-style: italic;
}
.program p,ul{
  text-align:left;
  
}
ul{  
  letter-spacing: 0.025rem;
}


/*-------------

MEDIA 786px

--------*/
@media(min-width:786px){
  .program{
    width:30%;
    margin:0 auto;
  }
    
}
/*----------------------

GIFTS

------------------------*/

#gift{
  height:7.5rem
}
.gifts{
  margin-bottom:0;
  margin-top:0;
}


/*------------------

FAQ

----------------*/


.faq{
  background: hsla(100,0%,0%,.6);
  color: #d2ba87;
  margin-bottom:0;
  width:100%;
}

.faqhead{
  margin:1.5rem auto;
  margin-top:1rem;
}
.group p{
  text-align: left;
  font-family: 'Muli', sans-serif;  
}
.question{
  margin-bottom:0.5rem;
  font-weight: bold;
  letter-spacing: 0.019rem;
}
.answer{
  margin-bottom: 1.5rem;
}
.group{
  padding-bottom:0;
}
.group::after{
  display: block;
  content: "";
  width:50vw;
  margin:1.5rem auto;
  height:0.2rem;
  background-color: #d2ba87;
}
/*-------------

MEDIA 786px

--------*/
@media(min-width:786px){
  .group::after{
    display: none;
  }
  .group{
    display: inline-block;
    vertical-align: top;
    margin:0.5rem;
    text-align: left;
    padding:1.5rem;
    width:30%;
  }
  
}
/*----------------------

CONTACT

----------------*/
.contact{
  margin-top:0.3rem;
}

/*--------------------

FOOTER

----------------------*/

footer{
  background-color:#606060;
  width:100%;
  height:10vh;
  color: white;
  font-family: 'Muli', sans-serif;
  display: table;
  text-align: center;
  font-size: .88rem;

}
.footer-wrapper{
  display:table-cell;
  padding:0.5rem 1rem;
  vertical-align: middle;

  
}
footer small {
  line-height: 1.5;
  
}
footer p {
  margin-bottom: 0;
  
}

/*-------------

MEDIA 786px

--------*/
@media(min-width:786px){
  footer{
    min-height:7vh;
  }
}



