*{
  box-sizing: border-box;
}
body{
  position:relative;
  color:#444349;
}

/*HEADER*/

.header{
  display: table;
  width:100vw;
  height: 100vh;
  background-image: url(assets/wedding-landing-cover.jpg);
  background-position:70%;
  background-repeat: no-repeat;
  background-size: cover;

  
}
.wrapper{
  display: table-cell;
  vertical-align: middle;
  text-align:center;
}
.keret{
  color:hsla(0,0%,100%,.9);
  background-color:rgba(0,0,0,0.5);
  
  width:100vw;
  height:28rem;
  line-height: 1.06;
  
}
.title, .date{
  font-size:3.43rem;
  font-family: 'Libre Baskerville', serif;
  padding-top:2.3rem;
  letter-spacing:0.31rem;
  margin-bottom:-0.9rem;
}

.name{
  font-family: 'Great Vibes', cursive;
  font-size: 8.2rem;
  color: #d2ba87;  
}
.name:before{
  display: block;
  content:"";
  border-bottom:2px solid white;
  width:32.9rem;
  margin:3rem auto;
}
.date:before, .date:after{
  display:inline-block;
  vertical-align: middle;
  content:"";
  border-bottom:2px solid white;
  width:4rem;
  
}
@media(min-width:786px){
  .wrapper{
    background-position: center;
  }
  .keret{
    width:49vw;
    height:86vh;
    margin:0 auto;
    
  
  }
  .title{
text-transform: uppercase;  }
  .title, .date{
    font-size:1.5rem;
  }
  .name{
    font-size:7rem;
  }
}